/* 

--- 01: TYPOGAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.06
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter spacing

-0.5px
0.75px

--- 02 COLORS

- Primary: 



- Tints:


- Shades:



- Accents: 
- Greys:



--- 03 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 04 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 05 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ****************************************** */
/* UNIVERSAL RESET */
/* ****************************************** */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* ****************************************** */
/* FONT FORMATING */
/* ****************************************** */
/******** Font formating *******/
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.624 = 62.5 (x100) */
  /* Percentage of user browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", "Josefin-Sans";
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
}

/* ****************************************** */
/* GENERAL REUSABLE COMPONENTS */
/* ****************************************** */

.desktop {
  max-width: 130rem;
  background: #fff;
  margin: 2.4rem auto;
}

.container {
  width: 120rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.icon {
  font-size: 1.8rem;
  font-weight: 500;
  align-self: center;
  margin-right: 0.4rem;
}

.btn {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-text {
  font-size: 1.2rem;
  align-self: center;
}
