/* rem and em do not depend on html font-size in media queries!
Instead, 1rem = 1em =16px */

/* ****************************************** */
/*  BELOW 912px (Tablets) */
/* ****************************************** */

@media (max-width: 57em) {
  html {
    font-size: 50%;
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 2%;
    right: 5%;
  }

  .greeting-section {
    margin-top: 8rem;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide the nav */
    /* Allows no transitio at all */
    /* display: none; */

    /* 1. Hide the element visually */
    opacity: 0;

    /* 2. Make it unassessible to mouse and keyboard */
    pointer-events: none;

    /* 3. Hide it from screen readers */
    visibility: hidden;
    z-index: 8888;
  }

  .main-nav .header-nav,
  .sub-nav {
    border: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main.nav-items {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 1.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav.icon {
    visibility: visible;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .aside {
    position: absolute;
    top: -20%;
    right: 50;
    transform: translate(30%, 10%);
  }
  .header-nav,
  .sub-nav {
    display: block;
  }

  .sub-nav input {
    display: none;
  }
}

/* ****************************************** */
/*  BELOW 704px (Smaller Tablets) */
/* ****************************************** */

@media (max-width: 44em) {
  html {
    font-size: 40%;
  }

  .metric {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ****************************************** */
/*  BELOW 544px (Phones) */
/* ****************************************** */

@media (max-width: 34em) {
  html {
    font-size: 40%;
  }

  .metric {
    grid-template-columns: 1fr;
  }
  .heading-greeting {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }

  .top-dropdown {
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    align-items: flex-start;
  }

  .filters {
    margin-top: 8rem;
    /* flex-direction: column;
    align-items: flex-start; */
  }

  .fa.input-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
  }

  .filter.plus {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
  }

  .table-section {
    width: 100%;
    overflow-x: scroll;
  }
}
