/* To add padding or margin to sections put "container" class as a div child element */

.header-nav {
  grid-template-columns: 0.5fr 3fr 1.5fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(111, 111, 111, 0.439);
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.8rem;
}

.nav-item-base {
  text-decoration: none;
  color: #333;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
}

.aside a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.dropdown {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.dropdown img {
  margin-top: 0.8rem;
  width: 100%;
  height: 100%;
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(111, 111, 111, 0.439);
}

.input-box {
  height: 2.4rem;
  width: 26.3rem;
  font-size: 1.2rem;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1.2rem;
}

.input-box::placeholder {
  display: inline-block;
  font-size: 1.4rem;
  opacity: 0.5;
}

.header-section {
  margin: 2.4rem 0rem;
}

.heading-greeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.subtext {
  font-size: 1.2rem;
  word-spacing: 2px;
}

.greet-btns {
  display: flex;
  gap: 1.2rem;
}

.greet-btns a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.btn.add {
  background: #7f56d9;
  border: 1px solid #7f56d9;
}

.add.icon,
.add.btn-text {
  color: #fff;
}

.metric {
  gap: 1.6rem;
}

.metric-box {
  border: 1px solid rgba(111, 111, 111, 0.439);
  border-radius: 5px;
  padding: 1.8rem;
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.06);
}

.metric-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric-head {
  font-size: 1.6rem;
}

.metric-figure {
  font-size: 3.6rem;
  font-weight: 500;
}

.metric-details {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 2.4rem;
}

.metric-icon {
  font-size: 1.2rem;
  color: #12b76a;
}

.metric-percent {
  font-size: 1.2rem;
  font-weight: normal;
  color: #12b76a;
}

.low.metric-percent,
.down.metric-icon {
  color: #f04438;
}

.metric-subtext {
  font-size: 1.2rem;
  font-weight: normal;
}

.metric-char img {
  width: 100%;
}
